/* ProgressBar.css*/
.container-progress {
  position: sticky;
  top: 2px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.progress-bar-container {
  width: 100vh;
  height: 1rem;
  background-color: #000;
  border-radius: 5px;
  margin-top: -1em;
}

.segment-read-color {
  background-color: #09f;
}

.progress-bar {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.progress-bar>span {
  height: 100%;
  
  flex-grow: 2;
}
.span-true{
  background-color: #09F;
}
.span-true2{
  background-color: #da7f79;
}
